<div class="mid container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 up">
      <div class="panel">
        <div>
          <img src="../assets/img/522FFE10-4141-40b2-A5C0-D9B5C6B7342D_03.png">
        </div>
        <h2 class="text-center">设备名称</h2>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 middle">
      <div class="midtop">
       <table class=table>
         <tr>
           <td width="55%"><h3>终端详情</h3></td>
           <td width="45%"></td>
         </tr>
         <tr>
          <td colspan="2"><h3>35078665</h3></td>

        </tr>
        <tr>
          <td colspan="2"><span class="greenColor-fang"></span><h4 class="greenColor-Text">在线</h4></td>
        </tr>
        <tr>
          <td>组织架构:温州市</td>
          <td>布点为主:温州市</td>
        </tr>
        <tr>
          <td>IP地址:123.125.42.12</td>
          <td>版本号:Run123</td>
        </tr>
       </table>

      </div>
      <div class="midbot">
        <table class=table>
          <tr>
            <td width="55%"><i class="material-icons">person</i>管理员姓名:</td>
            <td width="45%">杭州管理员</td>
          </tr>
          <tr>
           <td><i class="material-icons">local_phone</i>管理员电话:</td>
           <td>12345678901</td>
         </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 down">
      <div class="panel">
        <div><h4 class="greenColor-Text">今日在线情况</h4>
          <span>开机时长:<span class="greenColor-Text">&nbsp;2小时33分2秒</span></span></div>
        <div>2</div>
        <div><h3>在线情况追踪</h3></div>
        <div>
          <ul>
            <li>12:22:11</li>
            <li><span></span><span>在线2小时22分4秒</span></li>
            <li>12:22:11</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
    <div>
        <div class="btn btn-default"><i class="material-icons">keyboard_arrow_left</i></div>
        <div  class="btn btn-success">Submit</div>
        <div class="btn btn-default"><i class="material-icons">keyboard_arrow_right</i></div>
    </div> 
</footer>